@import '@/assets/styles/scss/_variables';

.kjv-table {

    background-color: rgba(255,255,255,0.1);
    border-radius: 12px;

    &__search {

        flex-wrap: nowrap;

        &-select {

            width: 200px !important;
            border-width: 0 !important;
            background-color: #d0d4d6 !important;
            box-shadow: none !important;
            color: $text_main !important;
            outline: none;
        }

        &-input {

            width: 100% !important;
            border-width: 0 1px 0 1px !important;
            box-shadow: none !important;
        }

        &-title {

            padding: 0 1rem !important;
        }
    }
}