@import '@/assets/styles/scss/_variables';

.btn {

    &--primary {

        background-color: $bg_main;
        color: #ddd;

        &:hover {

            background-color: lighten($bg_main, 10%) !important;
            color: #ddd !important
        }
    }

    &--icon {

        margin: 0; 
        padding: 0; 
        width: 1rem;
        height: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}